/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

:root {
  --max-container-size: 71.25rem;
  --min-container-size: 13.5rem;
}

*, *::after, *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #4d4d4d;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  margin: 0;
}

ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Aleo', serif;
}


li a {
  font-weight: bold;
  text-decoration: none;
}

#root {
  display: grid;
  grid-template-rows: 2.44rem 6.06rem auto fit-content(5rem);
  grid-template-areas: "top-bar" "header" "main" "footer";
  justify-items: center;
}