.main-header {
  z-index: 60;
  grid-area: header;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  width: 98%;
  margin: 0 auto;
  outline: none;
}

.site-logo {
  width: 208px;
  flex: 1 1 auto;
} 

.site-logo > a {
  display: block;
}

.site-logo__image {
  width: 100%;
  max-width: 208px;
  height: auto;
  width: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  /* border: #cccccc dashed ; */
}

@media screen and (max-width: 999px) {
  .main-nav {
    display: none;
  }
}

.main-nav-search {
  width: 20%;
}

@media screen and (min-width: 1000px) { 

  .main-header {
    border-bottom: solid 1px #cccccc;
    background: #fff;
  }

  .main-nav {
    flex: 1 1 auto;
  }

  .main-nav__items {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .main-nav__item {
    margin: 0 .5rem;
    color: #333;
    font-size: 16px;
    display: block;
    font-family: 'Aleo', serif;
    font-weight: 400;
    white-space: nowrap; 
  }

  .main-nav__item a {
    font-weight: normal;
    color: #333;
  }

  .main-nav__item a:active, 
  .main-nav__item a:hover, 
  .main-nav__item a.active {
    font-weight: 600;
    color: #8a080e;
  }

  .main-nav__item input[type="search"] {
    width: 77%;
    text-align: left;
    display: inline-block;
    color: #333;
    background: #fff;
    border: 0;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #333333;
    box-sizing: content-box;
  }

  .nav-search {
    display: flex;
    gap: .2rem;
  }

  .nav-search__input:focus {
    outline: none;
  }

  .nav-search__button {
    background: rgba(0, 0, 0, 0);
    border: 0px;
  }

  .shopping--cart {
    text-align: right;
  }

  .shopping--cart .shopping--cart__link {
    color: #444;
    text-decoration: none;
    transition: .5s;
    padding-left: 0;
  }

  .shopping--cart img {
    width: 25px;
  }
}