/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

:root {
  --max-container-size: 71.25rem;
  --min-container-size: 13.5rem;
}

*, *::after, *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #4d4d4d;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  margin: 0;
}

ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Aleo', serif;
}

h2 {
  font-size: 1.88rem;
}

li a {
  font-weight: bold;
  text-decoration: none;
}

button {
  cursor: pointer;
}

p, address {
  font-size: 1rem;
  line-height: 160%;
  font-family: 'Raleway', sans-serif;  
}

address {
  font-style: normal;
}
